<footer>
    <div class="footer-top">
        <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Belog</a></li>
            <li><a href="#">Find the fastest keyboards</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; Teamproject - All rights reserved </p>
    </div>
</footer>