<header>
    <nav>
        <div class="header-left">
            <img src="../../src/images/TT-logo.png" alt="">
            <h1>TypeTest</h1>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="#" class="loginBtn">Login</a></li>
                <li><a href="#" class="signupBtn">Sign up</a></li>
            </ul>
        </div>
    </nav>
</header>

