@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Initial CSS Setup Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans KR", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

body {
  background-color: rgb(14, 14, 14);
}
/* Initial CSS Setup end */

/* header start */
header nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left img {
  height: 20px;
  width: auto;
}

header nav .header-left h1 {
  color: white;
  font-size: 16px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.header-right ul {
  display: flex;
}

.header-right ul li {
  width: auto;
  height: auto;
  align-items: center;
  padding: 15px;
}

.signupBtn {
  background-color: rgb(47, 105, 243);
  color: white;
  padding: 15px;
}

/* header end */

main {
  width: 100%;
  height: auto;
}

.type-test-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.type-intro {
  width: 100px;
  height: auto;
  padding: 10px;
  background-color: rgb(29, 29, 31);
  color: white;
  text-align: center;
  margin: 10px auto 20px auto;
  cursor: pointer;
}

.text-input-section {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  gap: 5px;
}

.text-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-section .text {
  background-color: rgb(29, 29, 31);
  color: white;
  font-size: 16px;
  padding: 20px;
  width: 100%;
}

.typing-input {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(24, 24, 27);
  background-color: rgba(39, 39, 42);
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.text-input-section input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wpm-area {
  min-width: 80px;
  width: auto;
  height: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: rgba(39, 39, 42);
  white-space: nowrap;
}

.time-area {
  width: 60px;
  height: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: rgba(39, 39, 42);
}

.reload-btn-area {
  width: auto;
  height: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: rgba(39, 39, 42);
}

.reload-btn-area .type-reload-btn {
  color: white;
  width: 30px;
  height: auto;
}

.typing-result-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.result-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result-spped {
  font-size: 24px;
  color: white;
  margin-left: 5px;
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
}

.result-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  color: white;
  font-size: 14px;
}

.result-list li:nth-child(even) {
  background-color: rgba(39, 39, 42);
}

.result-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.right-result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

.right-result-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  color: white;
  font-size: 14px;
}

.right-result-list span.active {
  background-color: rgba(39, 39, 42);
  border-radius: 10px;
  padding: 5px 10px;
}

.right-result-list li span:not(:first-child):hover {
  cursor: pointer;
}

.correct {
  color: #82ff62;
}

.incorrect {
  color: #ee6060;
}

#snackbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  z-index: 2147483647 !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, bottom 0.4s ease;
}

#snackbar.show {
  opacity: 1;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
  background-color: #4caf50;
}

/* footer start */

footer {
  margin-top: 20px;
}

.footer-top ul {
  display: flex;
  color: rgba(113, 113, 122);
  gap: 20px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}

.footer-top ul li:hover {
  color: rgba(50, 50, 50);
  cursor: pointer;
  transition: color 0.3s;
}

.footer-bottom {
  display: flex;
  color: rgba(113, 113, 122);
  font-size: 12px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
/* footer end */
